
/* <==== responsive fonts ====> */
:root {
    font-size: 0.75rem;
}

@media (min-width: 576px) {
    :root {
        font-size: 0.875rem;
    }
}

@media (min-width: 768px) {
    :root {
        font-size: 1rem;
    }
}
/* <==== responsive fonts ====/> */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.inner {
    max-width: 1000px;
    margin: 0 auto;
}

.button {
    text-transform: uppercase;
    border-radius: 0.25em;
    font-weight: 600;
    padding: 0.62em 1.12em 0.62em 1.12em;
    border: none;
    cursor: pointer;
}

/* <==== header =====> */
header {
    background: no-repeat 100% 25% url(../img/rect_bg_right_top.png),
                no-repeat 100% 60% url(../img/rect_bg_right_bottom.png), 
                no-repeat 30% 0 url(../img/triangle_bg_top.png),
                no-repeat 0 110% url(../img/rect_bg_left.png),
    linear-gradient(348.35deg, #A6FFCB 0.55%, #05D5FF 22.84%, #5533FF 72.77%);
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
}

.header__menu_and_logo {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__menu > nav {
    display: flex;
}

.header__menu > nav > ul {
    display: flex;
}

.header__menu > nav > ul + ul {
    margin-left: 10em;
}

.header__menu > nav > ul > li {
    list-style: none;
}

.header__menu > nav > ul > li + li {
    margin-left: 2.5em;
}

.header__menu > nav > ul > li > a {
    color: #fff;
    text-decoration: none;
}

.header__content {
    margin-top: 9.5rem;
    color: #fff;
}

.header__content .introducing {
    display: inline;
    background: #3F4FF6;
    border-radius: 1em;
    padding: 0.2em 2em 0.2em 0;
    letter-spacing: 0.55px;
}

.header__content .introducing > span {
    padding: 0.09em 0.6em 0.1em 0.6em;
    margin-right: 0.4em;
    background: #24B47E;
    border-radius: 1em;
    font-weight: bold;
}

.header__content h1 {
    margin-top: 3.2rem;
    font-size: 2.62rem;
    font-weight: normal;
}

.header__content_subtitle {
    max-width: 45%;
    color: #D9FCFF;
    line-height: 1.75rem;
    letter-spacing: 0.42px;
}

.header__content_buttons {
    margin-top: 4rem;
    padding-bottom: 14.5rem;
}

.header__content_buttons .explore {
    color: #fff;
    background: #3ECF8E;
    box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
}

.header__content_buttons .explore > span {
    color: #0A7261;
    margin-right: 0.5em;
}

.header__content_buttons .create {
    color: #7795F8;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(100, 100, 100, 0.5);
    margin-left: 1.25rem;
}
/* <==== header =====/> */

/* <==== background container =====> */
.background_container {
    position: absolute;
    right: 0;
    top: 10%;
    width: 40rem;
    height: 100rem;
    background: no-repeat 100% 0 url(../img/phone_bg_top.png),
                no-repeat 0 22% url(../img/ipad_bg_right_top.png),
                no-repeat 100% 68% url(../img/asana_bg_right_bottom.png),
                no-repeat 25% 61% url(../img/phone_bg_right_bottom.png);
    z-index: 10;
}
/* <==== background container =====/> */

/* <==== main =====> */

/* toolkit start */
main .toolkit {
    text-align: right;
    max-width: 52%;
    margin-top: 4rem;
}

main .toolkit .toolkit__img-and-title {
    display: flex;
    justify-content: center;
}

.toolkit__title {
    max-width: 77%;
}

.toolkit__title > h2 {
    color: #24B47E;
    letter-spacing: 2px;
    font-size: 1.4rem;
    font-weight: 600;
}

.toolkit__img {
    position: absolute;
    right: 50%;
    left: 48%;
    z-index: 15;
}

.toolkit > p {
    max-width: 98%;
    margin-left: 2%;
    color: #6B7C93;
    line-height: 1.62rem;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #F1F7FB;
    padding-bottom: 2.2rem;
    display: block;
}

.discover  {
    margin-top: 2.2rem;
}

.toolkit .discover > a {
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #6772E5;
}
/* toolkit end */

/* developers start */
    .developers {
        background-color: #F6F9FC;
        clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
        padding-top: 10rem;
        position: relative;
        z-index: 5;
    }

    .developers__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 8rem;
    }

    .developers__header > h2 {
        color: #24B47E;
        letter-spacing: 2px;
        font-size: 1.4rem;
        font-weight: 600;
        margin-top: 2rem;
    }

    .developers__header > p {
        max-width: 70%;
        color: #6B7C93;
        line-height: 1.62rem;
        letter-spacing: 0.5px;
        text-align: center;
    }

    .developers__content {
        display: flex;
        margin-top: 3.12rem;
        padding-bottom: 4.12rem;
    }

    .write-code {
        background: #fff;
        font-size: 0.85rem;
        padding-right: 8rem;
        letter-spacing: 0.118462px;
        line-height: 1.2rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.143144);
        border-radius: 2px;
    }

    pre {
        margin: 0;
        color: #444972;
    }

    .numbers_background {
        background: #F2FEEF;
        width: 6%;
        padding: 1rem 0 1rem 0;
    }

    .code_numbers {
        color: #5DC79E;
    }

    .blueviolet {
        color: blueviolet;
    }

    .blue {
        color: blue;
    }

    .green {
        color: seagreen;
    }

    .red {
        color: crimson;
    }

    .gray {
        color: gray;
    }

    .developers__content .options > ul {
        list-style: none;
        color: #6772E5;
        font-weight: 600;
    }

    .developers__content .options > ul > li {
        padding: 0.2rem 0 0.2rem  1rem; 
    }

    .developers__content .options > ul > li:nth-child(1) {
        background: no-repeat 0 55% url(../img/options_li_1.png);
        cursor: pointer;
    }

    .developers__content .options > ul > li:hover {
        color: sandybrown;
    }

/* developers end */

/* <==== main =====/> */


